<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Please allow access to your calendar in device settings for full event scanning. Your events will be analyzed locally and not uploaded anywhere.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>locate.measurementlab.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>FuturaBookC.ttf</string>
		<string>Barlow-Light.ttf</string>
		<string>Barlow-Bold.ttf</string>
		<string>Thunder-LC.ttf</string>
		<string>Barlow-SemiBold.ttf</string>
		<string>Barlow-Regular.ttf</string>
		<string>Barlow-Medium.ttf</string>
	</array>
</dict>
</plist>
